
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <h1>Your ToDos!</h1>
            <todo *ngFor="let todo of todos" 
                [todo]="todo" 
                (statusChanged)="changeStatus($event)"
                (updated)="changeDescription($event)"
                (removed)="remove($event)"></todo>        
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-2">
            <button class="btn btn-primary btn-lg" (click)="addTodo()" >Add</button>
        </div>
    </div>
</div>